dist/
target/
node_modules/
playwright-report/
test-results/
.trunk/out/
.trunk/logs/
.trunk/actions/
.trunk/notifications/
.trunk/tools/
.trunk/plugins/
.trunk/tmp/
.trunk/user.yaml
.trunk/user_trunk.yaml
